@font-face {
    font-family: 'Arno Pro';
    src: local('Arno Pro'),
             url('assets/fonts/font1.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
html {
    overflow-y:hidden;
    background-color: #4b4b4b;
}
html:after,html:before{
    content:"";
    display:block;
    bottom:0;
    position:fixed;
}
html {
  background: url(assets/umibgs/different_space_1a.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
html,body{width:100%;height:100%;padding:0;margin:0;}
*{box-sizing:border-box;border:0;margin:0;font-family: "Arno Pro", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;}
/* Ensure common text elements and form controls use Arno Pro */
 a, p, span, label,
h1, h2, h3, h4, h5, h6, li, small, strong, em { 
        font-family: "Arno Pro", serif;
        -webkit-text-stroke-width: 1.2px; 
        -webkit-text-stroke-color: #000000;
        font-size : 50px;
         background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
        
}
/* Make pseudo-elements inherit the same font */
*::before, *::after { font-family: inherit; }
.container{
    font-family: "Arno Pro", serif;
    background-color:rgba(56, 32, 33, 0.75);
    padding:8px;
    margin:8px auto 8px auto;
    border-radius: 8px;
    height:calc(100% - 16px);
    width:fit-content;
    min-width: 420px;
    z-index:50;
    overflow-y:auto;
    color: #ffffff;
}
hr{
    border: 0;
    border-top: 1px solid #31232d;
    margin:4px 0 4px 0;
}
.buttonsContainer{text-align:center;max-width:400px;}
.buttonsContainer a{text-decoration: none;}
.socialButton {
    font-size: 30px;
    width:calc(100% - 16px);
    padding:8px;margin:8px;
    border-radius:16px;
    display:block;
    text-align:center;
}
.lastfmBox{
    background-color:#ad000c;
}
.robloxBox{
    background-color: #262626;
}
.anilistBox{
    background-color: #0b1521;
}
.steamBox{
    background-color: #304b7a;
    color: #ffffff;
}
.imgIcon{
    height:24px;
    width:auto;
    transform: translateY(4px);
}
.socialsContainer a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 44px;
}
.socialsContainer .lastfmBox .fab {transform:translateY(1px)}
.cleft{float:left;}
.cright{float:right;}
.txcenter{text-align:center;}
.fontSize1{
    font-size:40px;
    color: #ffffff;
}

